@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Jura', system-ui, sans-serif;
    background-image: url('/img/kochi/paw.svg');
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', 'Jura', system-ui, sans-serif;
  }
}
